/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* colors of the website:
black
#1c1c1c
green
#58b792
gray
#282828 */

body {
  margin: 0px;
  /* background: #1c1c1c; */
  background-image: url("https://github.com/JDgomez2002/lab07_web/blob/main/img/background.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}