.header-container {
  height: 28px;
  margin: 25px 20px 0px 20px;
  padding: 0px 20px 0px 20px;
  text-align: right;
}

.button-aside {
  position: relative;
  margin: 0px 0px 0px 10px;
  border: none;
  background-color: inherit;
  height: 100%;
  width: auto;
  cursor: pointer;
}

/* .button-aside:hover {
  background-color: #ffffff;
} */

.button-image {
  position: relative;
  height: 100%;
  width: auto;
}

.logo-image {
  position: relative;
  height: 100%;
  width: auto;
}